<div class="header">
  <div class="left vertical-center">
    <h2>{{ enum.title }}</h2>
  </div>

  <div class="right">
    <img class="logo" src="{{ assets }}/logo_2_black.png" alt="2b Visions Logo">
    <h2>{{ enum.app_name }}</h2>
    <h5>{{ enum.company_address }}</h5>
  </div>
</div>

<div class="header-divider"></div>